<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="Rewrite to read.php">
          <match url="^api/penyakit/all" />
          <action type="Rewrite" url="penyakit/read.php" />
        </rule>
        <rule name="Rewrite to read.php/">
          <match url="^api/penyakit/all/" />
          <action type="Rewrite" url="penyakit/read.php" />
        </rule>
        <rule name="Rewrite to read_one.php">
          <match url="^api/penyakit/([_0-9a-z-]+)" />
          <action type="Rewrite" url="penyakit/read_one.php?kode_penyakit={R:1}" />
        </rule>
        <rule name="Rewrite to read_one.php/">
          <match url="^api/penyakit/([_0-9a-z-]+)/" />
          <action type="Rewrite" url="penyakit/read_one.php?kode_penyakit={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
