<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="Rewrite to penyakit read.php">
          <match url="^api/penyakit/all" />
          <action type="Rewrite" url="penyakit/read.php" />
        </rule>
        <rule name="Rewrite to penyakit read.php/">
          <match url="^api/penyakit/all/" />
          <action type="Rewrite" url="penyakit/read.php" />
        </rule>
        <rule name="Rewrite to penyakit read_one.php">
          <match url="^api/penyakit/([_0-9a-z-]+)" />
          <action type="Rewrite" url="penyakit/read_one.php?kode_penyakit={R:1}" />
        </rule>
        <rule name="Rewrite to penyakit read_one.php/">
          <match url="^api/penyakit/([_0-9a-z-]+)/" />
          <action type="Rewrite" url="penyakit/read_one.php?kode_penyakit={R:1}" />
        </rule>
        <rule name="Rewrite to pertanyaan read.php">
          <match url="^api/pertanyaan/all" />
          <action type="Rewrite" url="pertanyaan/read.php" />
        </rule>
        <rule name="Rewrite to pertanyaan read.php/">
          <match url="^api/pertanyaan/all/" />
          <action type="Rewrite" url="pertanyaan/read.php" />
        </rule>
        <rule name="Rewrite to persentase forwardchaining.php">
          <match url="^api/hasil" />
          <action type="Rewrite" url="forward-chaining/forwardchaining.php" />
        </rule>
        <rule name="Rewrite to persentase forwardchaining.php/">
          <match url="^api/hasil/" />
          <action type="Rewrite" url="forward-chaining/forwardchaining.php" />
        </rule>
        <rule name="Rewrite to jawaban insert.php">
          <match url="^api/jawaban/add" />
          <action type="Rewrite" url="jawaban/insert.php" />
        </rule>
        <rule name="Rewrite to jawaban insert.php/">
          <match url="^api/jawaban/add/" />
          <action type="Rewrite" url="jawaban/insert.php" />
        </rule>
        <rule name="Rewrite to jawaban delete.php">
          <match url="^api/jawaban/delete" />
          <action type="Rewrite" url="jawaban/delete.php" />
        </rule>
        <rule name="Rewrite to jawaban delete.php/">
          <match url="^api/jawaban/delete/" />
          <action type="Rewrite" url="jawaban/delete.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
